@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  padding-bottom: 40px;
  width: 100%;
  background: #eeedde;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.header .nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .brand-name {
  width: 40%;
}
.header .nav .brand-name p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #203239;
}
.header .nav .brand-name .brand-sine {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #203239;
}
.header .nav .menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav .menu ul {
  display: flex;
}
.header .nav .menu ul li {
  list-style: none;
  margin-left: 120px;
}
.header .nav .menu ul li a {
  text-decoration: none;
  padding: 5px 2px;
  color: black;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
}
.header .nav .menu ul li a:hover{

  border-bottom: 3px solid #ff7527;
  transition: .2s;
}
.banner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.banner .banner-articles {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.banner .banner-articles .banner-title {
  width: 777px;
  padding: 12px 0;
  color: #203239;
}
.banner .banner-articles .banner-title h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
.banner .banner-articles .banner-info {
  width: 544px;
  padding: 14px 0;
  margin: 12px 0;
}
.banner .banner-articles .banner-info p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
}
.banner .banner-articles .banner-search {
  margin-bottom: 20px;
  width: 675px;
  height: 70px;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.banner .banner-articles .banner-search input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.banner .banner-articles .banner-search button {
  padding: 10px 40px;
  position: absolute;
  left: 530px;
  top: 50%;
  background: #203239;
  box-shadow: 0px 6px 8px rgba(32, 50, 57, 0.25);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  color: #ffffff;
  transform: translateY(-50%);
}

.banner .achievement-items {
  display: flex;
  width: 590px;
  justify-content: space-between;
}
.banner .achievement-items .achievement-item {
  width: 149px;
}
.banner .achievement-items .achievement-item h2 {
  font-weight: 600;
  font-size: 56px;
  margin: 0;
  padding: 0;
}
.banner .achievement-items .achievement-item p {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
}
.banner .achievement-items .achievement-item .highlight {
  color: #ff7527;
}
.banner .banner-img {
  width: 30%;
  width: 400px;
  height: 520px;
}

.banner .banner-img img {
  width: 100%;
  height: 100%;
}
.service-section {
  padding: 100px 0;
}

.service-section .service {
  padding: 30px 0;
}
.service-section .service .title {
  width: 533px;
}
.service-section .service .title h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
}
.service-section .service .service-items {
  display: flex;
  justify-content: space-between;
}
.service-section .service .service-items .service-item {
  width: 300px;
  border: 1px solid #eeedde;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.service-section .service .service-items .service-item .services-title {
  height: 35px;
  padding: 0 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid #ff7527;
  box-sizing: border-box;
}
.service-section .service .service-items .service-item .services-title h4 {
  padding: 0;
  margin: 0;
}
.service-section .service .service-items .service-item .services-title p {
  padding: 0;
  margin: 0;
  color: #ff7527;
}

.service-section .service .service-items .service-item .services-article p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
  color: rgba(32, 50, 57, 0.55);
}
.service-section .service .service-items .service-item .services-redmore {
  width: 165px;
  margin: 10px 15px;
  position: relative;
  overflow: hidden;
  position: relative;
}
.service-section .service .service-items .service-item .services-redmore a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #203239;
  padding: 10px 5px;
}
.service-section
  .service
  .service-items
  .service-item
  .services-redmore::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #d6d5c7;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}
.service-section
  .service
  .service-items
  .service-item
  .services-redmore:hover::before {
  transform: scaleX(1);
}
.residen-favorit-section {
  width: 100%;
  padding: 80px 0 150px;
  background: #eeedde;
}
.residen-favorit-section .residen-favorit-title {
  width: 100%;
  text-align: left;
  padding: 20px 0;
}
.residen-favorit-section .residen-favorit-title p {
  margin: 0;
  padding: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff7527;
}
.residen-favorit-section .residen-favorit-title h1 {
  margin: 0;
  padding: 5px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}
.residen-favorit-section .residen-favorit-showcase {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.residen-favorit-section .residen-favorit-showcase .image {
  width: 45%;
  position: relative;
}
.residen-favorit-section .residen-favorit-showcase .image img {
  width: 100%;
}
.residen-favorit-section .residen-favorit-showcase .image .first-img {
  width: 358px;
  height: 490px;
}
.residen-favorit-section .residen-favorit-showcase .image .secound-img {
  width: 330.91px;
  height: 455px;
  position: absolute;
  left: 250px;
  top: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.384);
}
.residen-favorit-section .residen-favorit-showcase .article {
  width: 45%;
}
.residen-favorit-section .residen-favorit-showcase .article h1 {
  margin: 20px 0;
  width: 507px;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}
.residen-favorit-section .residen-favorit-showcase .article p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 20px 0;
  color: #203239;
}
.residen-favorit-section .residen-favorit-showcase .article .contact {
  width: 577px;
  display: flex;
  justify-content: space-between;
}
.residen-favorit-section .residen-favorit-showcase .article .contact a {
  padding: 13px 41px;
  border: 1px solid #203239;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}
.residen-favorit-section .residen-favorit-showcase .article .contact .btn-one {
  background: #eeedde;
}
.residen-favorit-section .residen-favorit-showcase .article .contact .btn-two {
  background: #203239;
  color: #ffffff;
}
.Residents-of-Various-Cities-section {
  width: 100%;
  padding: 70px 0;
}
.Residents-of-Various-Cities-section .articles-and-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.Residents-of-Various-Cities-section .articles-and-navigator .navigator {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Residents-of-Various-Cities-section .articles-and-navigator .navigator p {
  margin: 0 4px;
  width: 15px;
  height: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7527;
  border: 1px solid #0000006d;
}

.Residents-of-Various-Cities-section .articles-and-navigator .article {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.Residents-of-Various-Cities-section .articles-and-navigator .article h1 {
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
}
.Residents-of-Various-Cities-section .articles-and-navigator .article p {
  margin: 0;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff7527;
}
.Residents-of-Various-Cities-section .showcase {
  display: flex;
  justify-content: space-between;
}
.Residents-of-Various-Cities-section .showcase .showcase-item {
  width: 25%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.Residents-of-Various-Cities-section .showcase .showcase-item .image {
  width: 100%;
  height: 454px;
}
.Residents-of-Various-Cities-section .showcase .showcase-item .image img {
  width: 100%;
  height: 100%;
}
.Residents-of-Various-Cities-section
  .showcase
  .showcase-item
  .showcase-article {
  width: 100%;
  margin: 0;
  padding: 0;
}
.Residents-of-Various-Cities-section
  .showcase
  .showcase-item
  .showcase-article
  h3 {
  margin: 0;
  padding: 5px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #203239;
}
.Residents-of-Various-Cities-section
  .showcase
  .showcase-item
  .showcase-article
  p {
  margin: 0;
  padding: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #203239;
}
.footer {
  background: #eeedde;
  padding: 60px 0 0;
}
.footer .showcase {
  display: flex;
  justify-content: space-between;
  padding-bottom:40px;
}
.footer .showcase .contact {
  width: 50%;
}
.footer .showcase .contact .contact-info {
  display: flex;
  justify-content: space-between;
}
.footer .showcase .contact .contact-info .call {
  width: 243px;
  border: 1px solid rgba(255, 117, 39, 0.5);
  border-radius: 10px;
  padding: 0 0 20px;
}
.footer .showcase .contact .contact-info .call .phone-num,
.footer .showcase .contact .contact-info .email .email-address {
  display: flex;
  justify-content: center;
}
.footer .showcase .contact .contact-info .call .phone-num .icon,
.footer .showcase .contact .contact-info .email .email-address .icon {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  font-size: 30px;
}
.footer .showcase .contact .contact-info .call .phone-num .num p,
.footer .showcase .contact .contact-info .email .email-address p {
  margin: 0;
  padding: 0;
}
.footer .showcase .contact .contact-info .call .phone-num,
.footer .showcase .contact .contact-info .email .email-address {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.footer .showcase .contact .contact-info .email {
  width: 306px;
  border: 1px solid rgba(255, 117, 39, 0.5);
  border-radius: 10px;
  padding: 0 0 20px;
}
.footer .showcase .awards {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .showcase .awards .awards-img {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.footer .showcase .awards .awards-img img {
  width: 150px;
}
.footer .showcase .contact .contact-info .call .btn,
.footer .showcase .contact .contact-info .email .btn {
  display: flex;
  justify-content: center;
}
.footer .showcase .contact .contact-info .call .btn a {
  padding: 13px 41px;
  background: rgba(255, 117, 39, 0.2);
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ff7527;
}
.footer .showcase .contact .contact-info .email .btn a {
  padding: 13px 41px;
  background: rgba(255, 117, 39, 0.8);
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #eeedde;
}
.footer .brand-and-social-media {
  width: 100%;

  background: #203239;
}
.footer .brand-and-social-media .links{
    display: flex;
  justify-content: space-between;
}
.footer .brand-and-social-media .logo{
  width: 80%;
  display: flex;
  align-items: center;
}

.footer .brand-and-social-media .logo p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.footer .brand-and-social-media .logo .brand-sine {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.footer .brand-and-social-media .social-link{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .brand-and-social-media .social-link a{
  color: #ffffff;
  text-decoration: none;
}